* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
--background: #264653;
--xPlayer: #2A9D8F;
--oPlayer: #264653;
--squares: #F4A261;
--border: #E76F51;
--text: #2A9D8F;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 2em;
}

h1 {
  margin: 2em;
}

.board {
  background: var(--border);
  border: 1rem solid var(--border);
  display: grid;
  gap: 1rem;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 500px;
  width: 500px;
}

.squares {
  background: var(--squares);
  border: none;
  cursor: pointer;
  font-size: 5rem;
  outline: none;
}

.X {
  color: var(--xPlayer);
}

.O {
  color: var(--oPlayer);
}

h3 {
  padding: 1em;
}

.reset {
    background-color: var(--text);
    color: var(--background);
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem;
}